*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2f3630;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img.logo-img {
    width: 50px;
    height: auto;
}

nav h1 {
    margin: 5px 550px 5px 15px;
    color: white;
    font-style: italic;
}
  
nav ul {
  list-style-type: none;
  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

ul#links {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

ul#searchBar {
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}

ul#searchBar input {
    width: 250px;
    height: 25px;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    border: none;
}

button {
    background-color: #3c8278;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}

.image-container {
  position: relative; /* Makes the container the reference point for absolute positioning */
  display: inline-block; /* Helps wrap the container around the image */
}

.image-container img {
  display: block;
  width: 100%; /* Ensures the image is responsive within the container */
  height: auto;
}

.overlay-text-title {
  position: absolute; /* Positions the text relative to the container */
  top: 27%; /* Centers the text vertically */
  left: 25%; /* Centers the text horizontally */
  transform: translate(-50%, -50%); /*Adjusts position to perfectly center the text */
  color: white; /* Styles the text */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4); /* Adds a semi-transparent background for readability */
  font-family: Arial, sans-serif;
  font-size: 80px;
  font-weight: bolder;
}

.overlay-text-description {
  position: absolute; /* Positions the text relative to the container */
  top: 45%; /* Centers the text vertically */
  left: 22%; /* Centers the text horizontally */
  transform: translate(-50%, -50%); /*Adjusts position to perfectly center the text */
  color: white; /* Styles the text */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4); /* Adds a semi-transparent background for readability */
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
