*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #2f3630;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img.logo-img {
    width: 50px;
    height: auto;
}

nav h1 {
    margin: 5px 550px 5px 15px;
    color: white;
    font-style: italic;
}
  
nav ul {
  list-style-type: none;
  /* padding: 0; */
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

ul#links {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

ul#searchBar {
    background-color: white;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}

ul#searchBar input {
    width: 250px;
    height: 25px;
    font-size: 16px;
    margin-right: 15px;
    margin-left: 15px;
    border: none;
}

button {
    background-color: #3c8278;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
}